/* line 3, ../sass/style.scss */
body {
  background: #fab400;
  color: #2c2b2b;
}

/* line 8, ../sass/style.scss */
a {
  color: #2c2b2b;
  text-decoration: none;
}
/* line 11, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 16, ../sass/style.scss */
#header {
  width: 100%;
  background: #fff000;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
}

#page-content {
  margin: 120px 0 0 0;
}
