@import "colors.scss";

body {
	background:$fifth-color;
	color:$black;
}

a {
	color:$black;
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
}

#header {
	width:100%;
	background:$first-color;
	height:70px;
	overflow:hidden;
	position:fixed;
	top:0;
}